<a href="https://colab.research.google.com/github/windyday0622/windyday/blob/main/%EA%B3%BC%EC%A0%9C_240527.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Task1_0527. 4개의 Series를 결합하여 데이터프레임을 생성하여 출력하세요.
- 출력한 데이터프레임에서 추출하고 싶은 5개의 데이터를 인덱싱하여 출력
- null값을 3개 추가
- null값의 개수를 확인하고 삭제
- 2개의 데이터를 수정
- 1개의 행을 삭제

In [2]:
import pandas as pd
import numpy as np

# 4개의 Series 생성
series1 = pd.Series([10, 20, 30, 40, 50])
series2 = pd.Series(['a', 'b', 'c', 'd', 'e'])
series3 = pd.Series([1.1, 2.2, 3.3, 4.4, 5.5])
series4 = pd.Series([True, False, True, False, True])

# Series를 결합하여 데이터프레임 생성
df = pd.DataFrame({
    'Column1': series1,
    'Column2': series2,
    'Column3': series3,
    'Column4': series4
})

# 데이터프레임 출력
print("초기 데이터프레임:")
print(df)


# 특정 데이터 5개 인덱싱하여 출력
print("\n특정 데이터 5개:")
print(df.iloc[0:5])


# null 값 3개 추가
df.loc[5] = [np.nan, np.nan, np.nan, np.nan]
df.loc[6] = [np.nan, 'f', 6.6, False]
df.loc[7] = [70, np.nan, 7.7, True]

print("\nnull 값 추가된 데이터프레임:")
print(df)


# null 값 개수 확인
null_count = df.isnull().sum().sum()
print("\nnull 값의 총 개수:", null_count)

# null 값이 있는 행 삭제
df_cleaned = df.dropna()
print("\nnull 값이 있는 행이 삭제된 데이터프레임:")
print(df_cleaned)


# 데이터 2개 수정
df_cleaned.at[0, 'Column1'] = 100
df_cleaned.at[1, 'Column2'] = 'z'

print("\n데이터 2개 수정된 데이터프레임:")
print(df_cleaned)


# 1개의 행 삭제
df_final = df_cleaned.drop(2)

print("\n1개의 행이 삭제된 데이터프레임:")
print(df_final)

초기 데이터프레임:
   Column1 Column2  Column3  Column4
0       10       a      1.1     True
1       20       b      2.2    False
2       30       c      3.3     True
3       40       d      4.4    False
4       50       e      5.5     True

특정 데이터 5개:
   Column1 Column2  Column3  Column4
0       10       a      1.1     True
1       20       b      2.2    False
2       30       c      3.3     True
3       40       d      4.4    False
4       50       e      5.5     True

null 값 추가된 데이터프레임:
   Column1 Column2  Column3 Column4
0     10.0       a      1.1     1.0
1     20.0       b      2.2     0.0
2     30.0       c      3.3     1.0
3     40.0       d      4.4     0.0
4     50.0       e      5.5     1.0
5      NaN     NaN      NaN     NaN
6      NaN       f      6.6   False
7     70.0     NaN      7.7    True

null 값의 총 개수: 6

null 값이 있는 행이 삭제된 데이터프레임:
   Column1 Column2  Column3 Column4
0     10.0       a      1.1     1.0
1     20.0       b      2.2     0.0
2     30.0       c      3.3     1.0
3     40.0       d      4.4     0.0
4     50.0       e      5.5     1.0

데이터 2개 수정된 데이터프레임:
   Column1 Column2  Column3 Column4
0    100.0       a      1.1     1.0
1     20.0       z      2.2     0.0
2     30.0       c      3.3     1.0
3     40.0       d      4.4     0.0
4     50.0       e      5.5     1.0

1개의 행이 삭제된 데이터프레임:
   Column1 Column2  Column3 Column4
0    100.0       a      1.1     1.0
1     20.0       z      2.2     0.0
3     40.0       d      4.4     0.0
4     50.0       e      5.5     1.0

Task2_0527. 학생별 성적 데이터셋으로 의미있게 데이터 셋을 수정하세요.(아래 사항 반영)
- S1 ~ S10은 평균 점수를 기준으로 1등급에서 10등급이고 등급간 점수 차는 5점
- 결시자가 국어 3명, 수학 2명 있음
- 영어, 수학의 평균 점수가 국어 대비 5점 낮음

In [ ]:
import pandas as pd
import numpy as np
df = np.random.randint(1,5,size=(10,5))
df=pd.DataFrame(df,index=['s1','s2','s3','s4','s5','s6','s7','s8','s9','s10'],
               columns=['국어','영어','수학','과학','사회'])
df

In [3]:
import pandas as pd
import numpy as np

# 초기 데이터 프레임 생성
np.random.seed(42)  # 재현성을 위해 시드 설정
df = np.random.randint(1, 5, size=(10, 5))
df = pd.DataFrame(df, index=['s1', 's2', 's3', 's4', 's5', 's6', 's7', 's8', 's9', 's10'],
                  columns=['국어', '영어', '수학', '과학', '사회'])

# 국어 점수를 기준으로 등급 부여 (1등급 ~ 10등급, 등급 간 점수 차이는 5점)
df['국어'] = [100, 95, 90, 85, 80, 75, 70, 65, 60, 55]

# 국어에서 3명의 결시자 설정
absent_korean_students = np.random.choice(df.index, 3, replace=False)
df.loc[absent_korean_students, '국어'] = np.nan

# 영어, 수학 평균 점수가 국어보다 5점 낮도록 설정
korean_mean = df['국어'].mean()
english_mean = korean_mean - 5
math_mean = korean_mean - 5

# 영어, 수학 점수를 평균 5점 낮게 설정
df['영어'] = english_mean + np.random.randint(-10, 10, size=df.shape[0])
df['수학'] = math_mean + np.random.randint(-10, 10, size=df.shape[0])

# 수학에서 2명의 결시자 설정
absent_math_students = np.random.choice(df.index, 2, replace=False)
df.loc[absent_math_students, '수학'] = np.nan

# 결과 출력
print(df)

        국어         영어         수학  과학  사회
s1   100.0  72.285714        NaN   3   3
s2     NaN  70.285714  75.285714   3   2
s3    90.0  81.285714        NaN   3   4
s4    85.0  67.285714  78.285714   4   3
s5    80.0  77.285714  66.285714   4   4
s6    75.0  81.285714  77.285714   4   4
s7    70.0  72.285714  80.285714   2   2
s8     NaN  65.285714  67.285714   1   3
s9     NaN  83.285714  81.285714   4   4
s10   55.0  78.285714  71.285714   2   2

Task3_0527. df1에서 결측값 처리 후 딕셔너리, 리스트로 변환하여 출력하세요.

In [ ]:
df1 = pd.DataFrame({
    "Name": ["Alice", "Bob", "Charlie", "David", "Eve"],
    "Math": [85, np.nan, 88, 90, 76],
    "English": [92, 85, 89, np.nan, 80],
    "Science": [78, 90, 95, 85, 89],
    "History": [88, 92, 85, 91, np.nan]
})

In [5]:
import pandas as pd
import numpy as np

# 데이터프레임 생성
df1 = pd.DataFrame({
    "Name": ["Alice", "Bob", "Charlie", "David", "Eve"],
    "Math": [85, np.nan, 88, 90, 76],
    "English": [92, 85, 89, np.nan, 80],
    "Science": [78, 90, 95, 85, 89],
    "History": [88, 92, 85, 91, np.nan]
})

# 이름 열을 제외한 열의 결측값을 열의 평균값으로 대체
df1_filled = df1.copy()
df1_filled.iloc[:, 1:] = df1.iloc[:, 1:].fillna(df1.iloc[:, 1:].mean())

# 딕셔너리로 변환
df_dict = df1_filled.to_dict(orient='records')

# 리스트로 변환
df_list = df1_filled.values.tolist()

print("DataFrame:")
print(df1_filled)
print("\nAs dictionary:")
print(df_dict)
print("\nAs list:")
print(df_list)

DataFrame:
      Name   Math  English  Science  History
0    Alice  85.00     92.0       78     88.0
1      Bob  84.75     85.0       90     92.0
2  Charlie  88.00     89.0       95     85.0
3    David  90.00     86.5       85     91.0
4      Eve  76.00     80.0       89     89.0

As dictionary:
[{'Name': 'Alice', 'Math': 85.0, 'English': 92.0, 'Science': 78, 'History': 88.0}, {'Name': 'Bob', 'Math': 84.75, 'English': 85.0, 'Science': 90, 'History': 92.0}, {'Name': 'Charlie', 'Math': 88.0, 'English': 89.0, 'Science': 95, 'History': 85.0}, {'Name': 'David', 'Math': 90.0, 'English': 86.5, 'Science': 85, 'History': 91.0}, {'Name': 'Eve', 'Math': 76.0, 'English': 80.0, 'Science': 89, 'History': 89.0}]

As list:
[['Alice', 85.0, 92.0, 78, 88.0], ['Bob', 84.75, 85.0, 90, 92.0], ['Charlie', 88.0, 89.0, 95, 85.0], ['David', 90.0, 86.5, 85, 91.0], ['Eve', 76.0, 80.0, 89, 89.0]]

Task4_0527. df2에서 아래와 같이 데이터 필터링 및 정렬 후 배열, 딕셔너리, 리스트로 변환하여 출력하세요.
- Math 점수가 80 이상인 학생만 선택
- English 점수를 기준으로 내림차순 정렬

In [ ]:
df2 = pd.DataFrame({
    "Name": ["Alice", "Bob", "Charlie", "David", "Eve"],
    "Math": [85, 79, 88, 90, 76],
    "English": [92, 85, 89, 93, 80],
    "Science": [78, 90, 95, 85, 89],
    "History": [88, 92, 85, 91, 84]
})

In [6]:
import pandas as pd

# 주어진 데이터프레임 생성
df2 = pd.DataFrame({
    "Name": ["Alice", "Bob", "Charlie", "David", "Eve"],
    "Math": [85, 79, 88, 90, 76],
    "English": [92, 85, 89, 93, 80],
    "Science": [78, 90, 95, 85, 89],
    "History": [88, 92, 85, 91, 84]
})

# Math 점수가 80 이상인 학생만 선택
filtered_df = df2[df2['Math'] >= 80]

# English 점수를 기준으로 내림차순 정렬
sorted_df = filtered_df.sort_values(by='English', ascending=False)

# 배열로 변환
array_result = sorted_df.values

# 딕셔너리로 변환
dict_result = sorted_df.to_dict(orient='records')

# 리스트로 변환
list_result = sorted_df.values.tolist()

print("배열:")
print(array_result)
print("\n딕셔너리:")
print(dict_result)
print("\n리스트:")
print(list_result)

배열:
[['David' 90 93 85 91]
 ['Alice' 85 92 78 88]
 ['Charlie' 88 89 95 85]]

딕셔너리:
[{'Name': 'David', 'Math': 90, 'English': 93, 'Science': 85, 'History': 91}, {'Name': 'Alice', 'Math': 85, 'English': 92, 'Science': 78, 'History': 88}, {'Name': 'Charlie', 'Math': 88, 'English': 89, 'Science': 95, 'History': 85}]

리스트:
[['David', 90, 93, 85, 91], ['Alice', 85, 92, 78, 88], ['Charlie', 88, 89, 95, 85]]

Task5_0527. df3에서 각 학생의 평균 점수 계산 후 배열, 딕셔너리, 리스트로 변환하여 출력하세요.

In [ ]:
df3 = pd.DataFrame({
    "Name": ["Alice", "Bob", "Charlie", "David", "Eve", "Alice", "Bob", "Charlie", "David", "Eve"],
    "Subject": ["Math", "Math", "Math", "Math", "Math", "English", "English", "English", "English", "English"],
    "Score": [85, 79, 88, 90, 76, 92, 85, 89, 93, 80]
})

In [7]:
import pandas as pd

# DataFrame 생성
df3 = pd.DataFrame({
    "Name": ["Alice", "Bob", "Charlie", "David", "Eve", "Alice", "Bob", "Charlie", "David", "Eve"],
    "Subject": ["Math", "Math", "Math", "Math", "Math", "English", "English", "English", "English", "English"],
    "Score": [85, 79, 88, 90, 76, 92, 85, 89, 93, 80]
})

# 각 학생의 평균 점수 계산
average_scores = df3.groupby('Name')['Score'].mean()

# 배열로 변환
average_scores_array = average_scores.values

# 딕셔너리로 변환
average_scores_dict = average_scores.to_dict()

# 리스트로 변환
average_scores_list = average_scores.reset_index().values.tolist()

print("배열:")
print(average_scores_array)
print("\n딕셔너리:")
print(average_scores_dict)
print("\n리스트:")
print(average_scores_list)

배열:
[88.5 82.  88.5 91.5 78. ]

딕셔너리:
{'Alice': 88.5, 'Bob': 82.0, 'Charlie': 88.5, 'David': 91.5, 'Eve': 78.0}

리스트:
[['Alice', 88.5], ['Bob', 82.0], ['Charlie', 88.5], ['David', 91.5], ['Eve', 78.0]]

Task6_0527. df4에서 특정 열의 데이터 타입을 변환한 후 변환된 타입을 확인하세요.

In [ ]:
df4 = pd.DataFrame({
    'A': ['1', '2', '3', '4'],
    'B': ['5.1', '6.2', '7.3', '8.4'],
    'C': ['2021-01-01', '2021-02-01', '2021-03-01', '2021-04-01']
})

In [8]:
import pandas as pd

df4 = pd.DataFrame({
    'A': ['1', '2', '3', '4'],
    'B': ['5.1', '6.2', '7.3', '8.4'],
    'C': ['2021-01-01', '2021-02-01', '2021-03-01', '2021-04-01']
})

# 'B' 열의 데이터 타입을 실수(float)로 변환
df4['B'] = df4['B'].astype(float)

# 변환된 데이터프레임 정보 확인
print(df4.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       4 non-null      object
 1   B       4 non-null      float64
 2   C       4 non-null      object
dtypes: float64(1), object(2)
memory usage: 224.0+ bytes
None

Task7_0527. df5에서 나이가 25 이상인 행을 출력하세요.

In [ ]:
df5 = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [24, 27, 22, 32, 29],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
})

In [9]:
import pandas as pd

df5 = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [24, 27, 22, 32, 29],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
})

# 나이가 25 이상인 행 출력
result = df5[df5['Age'] >= 25]
print(result)

    Name  Age         City
1    Bob   27  Los Angeles
3  David   32      Houston
4    Eve   29      Phoenix