<a href="https://colab.research.google.com/github/windyday0622/windyday/blob/main/m3_%EB%B6%84%EC%84%9D%20%EB%9D%BC%EC%9D%B4%EB%B8%8C%EB%9F%AC%EB%A6%AC/%20%EA%B3%BC%EC%A0%9C_240529.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Task1_0529. 주어진 DataFrame에서 'Category'별로 그룹화하여 각 그룹의 'Value' 열의 평균을 계산하세요.

import pandas as pd

# 데이터프레임 생성
df = pd.DataFrame({
    "Category": ["A", "B", "A", "B", "C", "A", "C", "B", "A", "C"],
    "Value": [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
})
df.head()

In [7]:
import pandas as pd

df = pd.DataFrame({
    "Category": ["A", "B", "A", "B", "C", "A", "C", "B", "A", "C"],
    "Value": [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
})

category_means = df.groupby('Category')['Value'].mean()

print(category_means)

Category
A    47.500000
B    46.666667
C    73.333333
Name: Value, dtype: float64

Task2_0529. 주어진 DataFrame에서 'Category'별로 그룹화하여 각 그룹의 'Value' 열의 누적 합을 계산하세요.

import pandas as pd

# 데이터프레임 생성
df = pd.DataFrame({
    "Category": ["A", "B", "A", "B", "C", "A", "C", "B", "A", "C"],
    "Value": [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
})

In [8]:
import pandas as pd

df = pd.DataFrame({
    "Category": ["A", "B", "A", "B", "C", "A", "C", "B", "A", "C"],
    "Value": [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
})

df['Cumulative_Sum'] = df.groupby('Category')['Value'].cumsum()

print(df)

  Category  Value  Cumulative_Sum
0        A     10              10
1        B     20              20
2        A     30              40
3        B     40              60
4        C     50              50
5        A     60             100
6        C     70             120
7        B     80             140
8        A     90             190
9        C    100             220

Task3_0529. 주어진 DataFrame에서 'Category'별로 그룹화하여 각 그룹의 'Value' 열의 합계, 평균, 최대값, 최소값을 계산하세요.

import pandas as pd

# 데이터프레임 생성
df = pd.DataFrame({
    "Category": ["A", "B", "A", "B", "C", "A", "C", "B", "A", "C"],
    "Value": [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
})

In [9]:
import pandas as pd

df = pd.DataFrame({
    "Category": ["A", "B", "A", "B", "C", "A", "C", "B", "A", "C"],
    "Value": [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
})

grouped = df.groupby('Category')['Value'].agg(['sum', 'mean', 'max', 'min'])

print(grouped)

          sum       mean  max  min
Category
A         190  47.500000   90   10
B         140  46.666667   80   20
C         220  73.333333  100   50

Task4_0529. 주어진 df에서 category별로 가장 자주 등장하는 value를 찾아서 새로운 열의 값으로 적용한 후 출력하세요.

import pandas as pd

# 예제 데이터프레임 생성
data = {
    'Category': ['A', 'A', 'B', 'B', 'A', 'B', 'B', 'A', 'B', 'A'],
    'Value': [10, 15, 10, 20, 10, 30, 50, 10, 20, 15]
}

df = pd.DataFrame(data)
df

In [10]:
import pandas as pd

data = {
    'Category': ['A', 'A', 'B', 'B', 'A', 'B', 'B', 'A', 'B', 'A'],
    'Value': [10, 15, 10, 20, 10, 30, 50, 10, 20, 15]
}

df = pd.DataFrame(data)

mode_values = df.groupby('Category')['Value'].agg(lambda x: x.mode()[0])

df['Most_Frequent_Value'] = df['Category'].map(mode_values)

print(df)

  Category  Value  Most_Frequent_Value
0        A     10                   10
1        A     15                   10
2        B     10                   20
3        B     20                   20
4        A     10                   10
5        B     30                   20
6        B     50                   20
7        A     10                   10
8        B     20                   20
9        A     15                   10

Task5_0529. 주어진 데이터프레임에서 각 그룹별로 누적 평균을 계산하여 새로운 열로 추가한 후 출력하세요. 단 누적 평균은 그룹 내에서 각 요소까지의 평균을 계산한 것임

import pandas as pd

# 예제 데이터프레임 생성
data = {
    'Category': ['A', 'A', 'B', 'B', 'A', 'B', 'B', 'A', 'B', 'A'],
    'Value': [10, 15, 10, 20, 10, 30, 50, 10, 20, 15]
}

df = pd.DataFrame(data)
print(df)

In [11]:
import pandas as pd

data = {
    'Category': ['A', 'A', 'B', 'B', 'A', 'B', 'B', 'A', 'B', 'A'],
    'Value': [10, 15, 10, 20, 10, 30, 50, 10, 20, 15]
}

df = pd.DataFrame(data)

df['Cumulative_Average'] = df.groupby('Category')['Value'].expanding().mean().reset_index(level=0, drop=True)

print(df)

  Category  Value  Cumulative_Average
0        A     10           10.000000
1        A     15           12.500000
2        B     10           10.000000
3        B     20           15.000000
4        A     10           11.666667
5        B     30           20.000000
6        B     50           27.500000
7        A     10           11.250000
8        B     20           26.000000
9        A     15           12.000000

Task6_0529. 주어진 Series의 각 값에 대해 2배로 변환하는 함수를 적용하여 값을 변환하세요.

import pandas as pd

# Series 생성
s = pd.Series([1, 2, 3, 4, 5])

In [1]:
import pandas as pd

s = pd.Series([1, 2, 3, 4, 5])

s_transformed = s.apply(lambda x: x * 2)

print(s_transformed)

0     2
1     4
2     6
3     8
4    10
dtype: int64

Task7_0529. 주어진 DataFrame의 특정 열에 대해 map을 사용하여 등급을 부여하는 함수를 적용하여 변환을 수행하세요.

import pandas as pd

# 데이터프레임 생성
df = pd.DataFrame({
    "Name": ["Alice", "Bob", "Charlie", "David", "Eve"],
    "Score": [85, 90, 95, 80, 75]
})

In [2]:
import pandas as pd

def assign_grade(score):
    if score >= 90:
        return 'A'
    elif score >= 80:
        return 'B'
    elif score >= 70:
        return 'C'
    elif score >= 60:
        return 'D'
    else:
        return 'F'

df = pd.DataFrame({
    "Name": ["Alice", "Bob", "Charlie", "David", "Eve"],
    "Score": [85, 90, 95, 80, 75]
})

df["Grade"] = df["Score"].map(assign_grade)

print(df)

      Name  Score Grade
0    Alice     85     B
1      Bob     90     A
2  Charlie     95     A
3    David     80     B
4      Eve     75     C

Task8_0529. 주어진 DataFrame의 특정 열에 대해 각 요소에 제곱하는 함수를 적용하여 새로운 열을 생성하세요.

import pandas as pd

# 데이터프레임 생성
df = pd.DataFrame({
    "Numbers": [1, 2, 3, 4, 5]
})

In [3]:
import pandas as pd

df = pd.DataFrame({ "Numbers": [1, 2, 3, 4, 5] })

def square(x):
    return x ** 2

df["Squared_Numbers"] = df["Numbers"].apply(square)

print(df)

   Numbers  Squared_Numbers
0        1                1
1        2                4
2        3                9
3        4               16
4        5               25

Task9_0529. 주어진 DataFrame의 여러 열에 대해 각 열의 값을 합하는 함수를 적용하여 새로운 열을 생성한 후 출력하세요.

import pandas as pd

# 데이터프레임 생성
df = pd.DataFrame({
    "A": [1, 2, 3, 4, 5],
    "B": [10, 20, 30, 40, 50]
})
df

In [4]:
import pandas as pd

df = pd.DataFrame({"A": [1, 2, 3, 4, 5], "B": [10, 20, 30, 40, 50]})

df['A_sum'] = df['A'].sum()
df['B_sum'] = df['B'].sum()

print(df)

   A   B  A_sum  B_sum
0  1  10     15    150
1  2  20     15    150
2  3  30     15    150
3  4  40     15    150
4  5  50     15    150

Task10_0529. 주어진 DataFrame의 각 요소에 대해 10보다 크면 2배, 그렇지 않으면 원래의 수를 반영하는 함수를 적용하여 값을 변환하세요.

import pandas as pd

# 데이터프레임 생성
df = pd.DataFrame({
    "Values": [5, 10, 15, 20, 25]
})

Task11_0529. 주어진 DataFrame에서 특정 열을 그룹화한 후 각 그룹에 대해 그룹별로 평균 값을 계산하는 함수를 적용하여 새로운 열을 생성하여 출력하세요.

import pandas as pd

# 데이터프레임 생성
df = pd.DataFrame({
    "Category": ["A", "B", "A", "B", "C", "A", "C", "B", "A", "C"],
    "Value": [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
})

In [5]:
import pandas as pd

df = pd.DataFrame({
    "Category": ["A", "B", "A", "B", "C", "A", "C", "B", "A", "C"],
    "Value": [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
})

df['Mean_Value'] = df.groupby('Category')['Value'].transform('mean')

print(df)

  Category  Value  Mean_Value
0        A     10   47.500000
1        B     20   46.666667
2        A     30   47.500000
3        B     40   46.666667
4        C     50   73.333333
5        A     60   47.500000
6        C     70   73.333333
7        B     80   46.666667
8        A     90   47.500000
9        C    100   73.333333

Task12_0529. 주어진 DataFrame의 특정 열에 대해 제곱과 제곱근을 계산하는 함수들을 동시에 적용하여 새로운 열을 생성한 후 출력하세요.

import pandas as pd

# 데이터프레임 생성
df = pd.DataFrame({
    "Numbers": [1, 2, 3, 4, 5]
})

In [6]:
import pandas as pd
import numpy as np

df = pd.DataFrame({ "Numbers": [1, 2, 3, 4, 5] })

df['Squared'] = df['Numbers'] ** 2
df['Square Root'] = np.sqrt(df['Numbers'])

print(df)

   Numbers  Squared  Square Root
0        1        1     1.000000
1        2        4     1.414214
2        3        9     1.732051
3        4       16     2.000000
4        5       25     2.236068

Task13_0529. 주어진 DataFrame의 각 요소에 대해 제곱하는 함수를 적용하여 값을 변환하세요.

import pandas as pd

# 데이터프레임 생성
df = pd.DataFrame({
    "A": [1, 2, 3],
    "B": [4, 5, 6],
    "C": [7, 8, 9]
})

In [7]:
import pandas as pd

df = pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6], "C": [7, 8, 9] })

df_squared = df.applymap(lambda x: x ** 2)

print(df_squared)

   A   B   C
0  1  16  49
1  4  25  64
2  9  36  81

Task14_0529. 주어진 데이터프레임에서 각 그룹별로 Value 열을 표준화하여 새로운 열로 추가하여 출력하세요.(apply, transform 두가지 적용)

import pandas as pd

# 예제 데이터프레임 생성
data = {
    'Category': ['A', 'A', 'B', 'B', 'A', 'B', 'B', 'A', 'B', 'A'],
    'Value': [10, 15, 10, 20, 10, 30, 50, 10, 20, 15]
}

df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

In [9]:
import pandas as pd

# 예제 데이터프레임 생성
data = {'Category': ['A', 'A', 'B', 'B', 'A', 'B', 'B', 'A', 'B', 'A'],
        'Value': [10, 15, 10, 20, 10, 30, 50, 10, 20, 15]}

df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

df['Standardized_Apply'] = df.groupby('Category')['Value'].apply(lambda x: (x - x.mean()) / x.std()).reset_index(drop=True)

df['Standardized_Transform'] = df.groupby('Category')['Value'].transform(lambda x: (x - x.mean()) / x.std())

print("\nDataFrame with Standardized Values:")
print(df)

Original DataFrame:
  Category  Value
0        A     10
1        A     15
2        B     10
3        B     20
4        A     10
5        B     30
6        B     50
7        A     10
8        B     20
9        A     15

DataFrame with Standardized Values:
  Category  Value  Standardized_Apply  Standardized_Transform
0        A     10           -0.730297               -0.730297
1        A     15            1.095445                1.095445
2        B     10           -0.730297               -1.055009
3        B     20           -0.730297               -0.395628
4        A     10            1.095445               -0.730297
5        B     30           -1.055009                0.263752
6        B     50           -0.395628                1.582513
7        A     10            0.263752               -0.730297
8        B     20            1.582513               -0.395628
9        A     15           -0.395628                1.095445