<a href="https://colab.research.google.com/github/windyday0622/windyday/blob/main/m3_%EB%B6%84%EC%84%9D%20%EB%9D%BC%EC%9D%B4%EB%B8%8C%EB%9F%AC%EB%A6%AC/%20%EA%B3%BC%EC%A0%9C_240603.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Task1. 주어진 df의 날짜 리스트를 datetime 형식으로 변환하고, 변환된 데이터프레임의 년도, 월, 일 열을 추가하시오.

import pandas as pd

# 날짜 문자열 리스트
date_list = ['2023-01-01', '2023-02-15', '2023-03-30']

# 데이터프레임 생성
df = pd.DataFrame(date_list, columns=['date'])
df

In [ ]:
import pandas as pd

date_list = ['2023-01-01', '2023-02-15', '2023-03-30']

df = pd.DataFrame(date_list, columns=['date'])

df['date'] = pd.to_datetime(df['date'])

df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day

print(df)

        date  year  month  day
0 2023-01-01  2023      1    1
1 2023-02-15  2023      2   15
2 2023-03-30  2023      3   30

Task2. 주어진 월간 데이터를 타임스탬프로 변환하고, 변환된 결과에서 시간을 제외한 날짜만 출력하시오.

import pandas as pd

# 문자열을 Period로 변환
period_data = pd.Series(['2023-01', '2023-02', '2023-03'], name='period')
period_data

In [ ]:
import pandas as pd

period_data = pd.Series(['2023-01', '2023-02', '2023-03'], name='period')

timestamp_data = pd.DatetimeIndex(pd.to_datetime(period_data, format='%Y-%m'))

print(timestamp_data.date)

[datetime.date(2023, 1, 1) datetime.date(2023, 2, 1)
 datetime.date(2023, 3, 1)]

Task3. 주어진 날짜 데이터 시리즈를 분기로 변환하고, 각 분기별로 데이터의 개수를 출력하세요.

import pandas as pd

# 날짜 데이터 시리즈
date_series = pd.Series(pd.date_range('2023-01-01', '2023-12-31', freq='M'))
date_series

In [ ]:
import pandas as pd

date_series = pd.Series(pd.date_range('2023-01-01', '2023-12-31', freq='M'))

quarter_series = date_series.dt.quarter

print(quarter_series.value_counts())

1    3
2    3
3    3
4    3
Name: count, dtype: int64