<a href="https://colab.research.google.com/github/windyday0622/windyday/blob/main/m2_%ED%8C%8C%EC%9D%B4%EC%8D%AC%20%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%B0%8D/%202_%EC%A0%9C%EC%96%B4%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### 제어문(control statement)은 프로그램의 흐름을 제어하는데 사용

#### 조건문 (Conditional Statements):
- if: 특정 조건이 참(True)일 때 코드 블록을 실행
    - 조건은 비교 연산자(==, !=, <, >, <=, >=)와 논리 연산자(and, or, not)를 사용하여 표현할 수 있다
- elif: 이전의 if 또는 elif 조건이 거짓(False)일 때 다른 조건을 검사
    - elif는 'else if'의 축약형으로, 이전 if 또는 elif 문의 조건이 거짓(False)일 때 다른 조건을 검사
    - 여러 elif 문을 사용하여 다양한 조건을 검사할 수 있다
- else:
#    - 이전의 if 또는 elif 문의 조건이 모두 거짓일 때 실행할 코드 블록을 지정

In [ ]:
x = 10 dhsjfhfadsjf
if x > 5:
  print("x는 5보다 큽니다.")
elif x == 5:

  print("x는 5입니다.")
else:
  print("x는 5보다 작습니다.")

x는 5보다 큽니다.

In [ ]:
x = 10
if x >= 5:
  print("x는 5보다 크거나 같습니다.")
else:
  print("x는 5보다 작습니다.")

x는 5보다 크거나 같습니다.

In [ ]:
# 각 조건이 서로 독립적일때, if문을 연속해서 사용
x = 10
y = 5

if x > 5:
  print("x는 5보다 큽니다.")

if y < 10:
  print("y는 10보다 작습니다.")

if x > y:
  print("x는 y보다 큽니다.")

x는 5보다 큽니다.
y는 10보다 작습니다.
x는 y보다 큽니다.

In [ ]:
x = 10
y = 5
if x > 5:
  if y >= 3:
    print('x는 5보다 크고 y는 3보다 크거나 같습니다.')
  else:
    print('x는 5보다 크고 y는 3보다 작습니다.')
else:
  print('x는 5보다 작거나 같습니다.')

x는 5보다 크고 y는 3보다 크거나 같습니다.

In [ ]:
# Q. 이중 조건문을 사용하여 코드를 작성하세요. (조건 내용은 자유, 단, if문, if ~elif else 중첩하여 사용)
x = 10
y = 100
if x > 100:
  if y < 99:
    print('x는 100보다 크고 y는 99보다 작습니다.')
  else:
    print('x는 100보다 크고 y는 99보다 큽니다.')
else:
    print('x는 100보다 작고 y는 99보다 크거나 같습니다.')

x는 100보다 작고 y는 99보다 크거나 같습니다.

In [ ]:
score = int(input("점수를 입력하세요 : "))

if score < 70:
  print("점수가 70점 미만입니다. 체점을 진행하지 않습니다.")
else:
  if score >= 90:
    print("A")
  elif score >= 80:
    print("B")
  else:
    print("C")

점수를 입력하세요 : 75
C

In [ ]:
# Q. listdata = [a, b ,c]에서 조건문을 이용해서 아래와 같이 출력하세요.

a가 listdata에 있습니다.
b가 listdata에 있습니다.
c가 listdata에 있습니다.

SyntaxError: invalid syntax (<ipython-input-5-c3c4b0412dfe>, line 3)

In [ ]:
listdata = ['a', 'b', 'c']
if 'a' in listdata:
  print('a가 listdata에 있습니다.')
if 'b' in listdata:
  print('b가 listdata에 있습니다.')
if 'c' in listdata:
  print('c가 listdata에 있습니다.')

a가 listdata에 있습니다.
b가 listdata에 있습니다.
c가 listdata에 있습니다.

In [ ]:
listdata = ['a', 'b', 'c']

for i in listdata:
  if i in listdata:
    print(f'{i}가 listdata에 있습니다.')

a가 listdata에 있습니다.
b가 listdata에 있습니다.
c가 listdata에 있습니다.

In [ ]:
# Q. "주머니에 돈이 만원 있으면 택시를 타고, 없으면 걸어간다"를 만족하는 조건문을 작성하세요.
money = int(input("금액을 입력하세요 : "))

if money >= 10000:
   print("택시를 탄다.")
else:
    print("걸어간다.")

금액을 입력하세요 : 9999
걸어간다.

# Q. 조건부 표현식을 한줄의 조건문으로 작성하세요.

In [ ]:
score = 70
if score >= 60:
  message = "success"
else:
  message = "failure"

print(message)

success

In [ ]:
score = 70
["sucess" if score >= 60 else "failure"]

['sucess']

Q. "수입(income)과 지출금액(spend)을 비교해서 수입이 많으면 저축 증가, 반대이면 빚이 증가" 프로그램 작성하세요

In [ ]:
income = int(input("수입을 작성하세요"))
spend = int(input("지출금액을 작성하세요"))

if income > spend:
  print("저축 증가")
elif income < spend:
  print("채무 증가")
else:
  print("현상 유지")

수입을 작성하세요30
지출금액을 작성하세요50
채무 증가

#### 반복문 (Loop Statements):
- for: 시퀀스(리스트, 튜플, 문자열 등)의 아이템을 순회하면서 코드 블록을 실행
- while: 특정 조건이 참인 동안 코드 블록을 반복하여 실행

In [ ]:
# for 루프는 시퀀스(리스트, 튜플, 문자열 등)나 반복 가능한 객체의 요소를 순화

for i in range(5):
  #print(i)
    print(i, end=' ')
print('\n')
count = 0
while count < 5:
    print(count, end=' ')
    count += 1

0 1 2 3 4

0 1 2 3 4

In [ ]:
# 리스트를 순회하는 예
for i in [1, 2, 3, 4, 5]:
    print(i,end=' ')
print('\n')
# 문자열을 순회하는 예
for char in "hello":
    print(char,end=' ')

1 2 3 4 5

h e l l o

In [ ]:
# while 루프는 주어진 조건이 참인 동안 코드 블록을 반복
# 조건이 거짓이 되면 루프가 종료
count = 0
sum = 0
while count < 5:
    sum += count
    print(sum,end=' ')
    count += 1

0 1 3 6 10

In [ ]:
# Q. d에서 반복문을 사용하여 97 98 99을 출력하세요.
d = {'a':97, 'b':98, 'c':99}

In [ ]:
d = {'a':97, 'b':98, 'c':99}
for key in d:
    print(d[key], end=' ')

97 98 99

파이썬에서 "모든 것이 객체"

파이썬 내에서 데이터와 함수, 모듈, 클래스 등 모든 것이 객체로 취급된다는 것을 의미
- 기본 데이터 타입(예: 정수, 실수, 문자열 등)을 포함하여 모든 데이터가 객체. 각 데이터 타입은 특정 클래스의 인스턴스로, 해당 데이터 타입의 메소드와 속성을 가진다. 예를 들어, 정수는 int 클래스의 인스턴스로, 여러 가지 메소드(예: bit_length(), __add__() 등)를 사용할 수 있습니다.

- 파이썬에서 함수도 객체로 취급. 이는 함수를 변수에 할당하거나, 다른 함수의 인자로 전달하거나, 리스트나 딕셔너리 같은 데이터 구조에 저장할 수 있음을 의미

In [ ]:
def greet():
    print("Hello, world!")

print(greet.__name__) # 함수 이름 출력

greet

- 파이썬에서 클래스와 모듈 또한 객체. 클래스는 type의 인스턴스로, 메소드와 속성을 포함할 수 있다. 모듈도 객체로 취급되어, 모듈 내의 함수나 변수 등을 속성으로 가질 수 있다.

In [ ]:
improt math

print(type(math)) #<class 'module'>

type 함수가 반환하는 결과가 클래스 이름(예: <class 'list'>)으로 나오는 것은, 해당 객체가 해당 클래스의 인스턴스라는 것을 의미

In [ ]:
x =1
print(type(x)) #<class 'int'>

y =  "Hello"
print(type(y)) #<class 'str'>

def func():
    pass

print(type(func)) #<class 'function'>

<class 'int'>
<class 'str'>
<class 'function'>

In [ ]:
list_example = [1, 2, 3]
print(type(list_example)) # <class 'list'>

tuple_example = (1, 2, 3)
print(type(tuple_example)) # <class 'tuple'>

dict_example = {'key': 'value'}
print(type(dict_example)) # <class 'dict'>

<class 'list'>
<class 'tuple'>
<class 'dict'>

In [ ]:
# 사용자가 직접 작성한 클래스에서 객체를 만들 경우
# __main__은 현재 스크립트가 메인 프로그램으로 실행되고 있으며, Car 클래스가 이 메인 스크립트 안에 정의됨을 의미
class Car:
    def __init__(self, model):
        self.model = model

my_car = Car("Toyota")
print(type(my_car)) # <class '__main__.Car'>

<class '__main__.Car'>

In [ ]:
print(dir(int))

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_count', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

In [ ]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

dict_values 클래스의 이해:
- 클래스 정의: 파이썬에서 클래스는 객체를 생성하는 데 사용되는 템플릿. dict_values는 딕셔너리의 값을 보여주는 뷰 객체를 생성하는 특별한 내장 클래스.
- 뷰 객체: dict_values 객체는 딕셔너리의 값에 대한 동적인 뷰를 제공. "뷰(view)"란 원본 딕셔너리 객체의 값이 변하면 그 변화가 dict_values 객체에도 반영되는, 원본 데이터의 실시간 반영본을 의미. 이는 딕셔너리의 값들이 수정, 추가, 삭제될 때 dict_values 객체가 자동으로 업데이트된다는 의미.
- 객체 인스턴스: dict_values 객체는 dict_values 클래스의 인스턴스. 이 클래스는 파이썬의 다른 모든 클래스처럼 특정 데이터 구조와 메서드를 가진다. 예를 들어, dict_values 객체는 순회 가능하며 (iterable), 딕셔너리의 모든 값을 순차적으로 접근할 수 있는 메서드를 제공.

In [ ]:
d = {'a':97, 'b':98, 'c':99}
d['b'] = 100
print(d)
print(d.values())

{'a': 97, 'b': 100, 'c': 99}
dict_values([97, 100, 99])

제어문 관련 키워드:

- break: 현재의 반복문을 중단하고, 반복문 바깥의 코드를 실행
- continue: 반복문의 나머지 부분을 건너뛰고, 다음 반복을 시작

In [ ]:
for i in range(5):
    if i == 3:
       break
    print(i,end=' ')
print('\n')

for i in range(5):
    if i == 3:
        continue
    print(i, end=' ')

0 1 2

0 1 2 4

In [ ]:
for i in range(10):
    if i == 5:
        break # i가 5일 때 루프를 종료합니다.
    print(i,end=' ')
print('\n')
for i in range(10):
    if i % 2 == 0:
        continue # i가 짝수일 때 나머지 부분을 건너뛰고 다음 반복을 시작합니다.
    print(i,end=' ')

0 1 2 3 4

1 3 5 7 9

In [ ]:
#for 또는 while 루프에 else 절을 사용하면, 루프가 정상적으로 완료된 후에 실행할 수 있음.
for i in range(5):
    print(i,end=' ')
else:
    print("루프가 완료되었습니다.",'\n')

count = 0
while count < 5:
    print(count, end=' ')
    count += 1
else:
    print("루프가 완료되었습니다.")

0 1 2 3 4 루프가 완료되었습니다.

0 1 2 3 4 루프가 완료되었습니다.

In [ ]:
# break 문을 사용하여 루프를 중단하면 else 절은 실행되지 않음
for i in range(5):
    if i == 3:
        print(f'{i}에서 루프를 중단합니다.')
        break
else:
    print('루프가 정상적으로 완료되었습니다.')

3에서 루프를 중단합니다.

조건과 반복을 결합

In [ ]:
# 10미만의 홀수만 출력
for i in range(10):
    if i % 2 != 0:
      print(i,end=' ')

1 3 5 7 9

In [ ]:
# Q. 1~10 범위의 정수에서 1부터 5까지만 출력하세요.
for i in range(1, 11):
    if i > 5:
        break
    print(i, end=' ')

1 2 3 4 5

In [ ]:
# Q. numbers 리스트에서 15, 20, 25를 출력하세요.(for문과 if 조건 사용 필수)
numbers = [5, 15, 6, 20, 7, 25]

In [ ]:
numbers = [5, 15, 6, 20, 7, 25]
for i in numbers:
    if i % 5 == 0 and i > 5:
      print(i, end=' ')

15 20 25

In [ ]:
# 특정 조건을 만족할 때까지 반복
count = 0
while True: # 무한 루프
    count += 1
    if count > 5:
        break # count가 5보다 클 때 루프를 종료합니다.
    print(count)
print('루프가 종료됨.')

1
2
3
4
5
루프가 종료됨.

In [ ]:
# Q. 리스트에서 특정값 찾기
numbers = [1, 2, 3, 4, 5]
target = 3

In [ ]:
numbers = [1, 2, 3, 4, 5]
target = 3
for i in numbers:
    if target in numbers:
        print('값을 찾았습니다.')
    break
else:
    print("값을 찾지 못했습니다.")

값을 찾았습니다.

In [ ]:
for i in  range(1, 21):
    if i < 10:
        if i % 2 == 1:
          print(i, end=' ')
    else:
       break

1 3 5 7 9

In [ ]:
# while ~ continue ~ break
# 20보다 작은 정수에서 1 3 5 7 9 만을 출력
a = 0
while a < 20:
    a += 1
    if a % 2 == 0:
        continue
    if a >= 10:
        break
    print(a, end=' ')

1 3 5 7 9

In [ ]:
# Q. 정수 1부터 n까지 더할 때 그 합이 1000보다 커지게 되는 n과 합을 구하세요.(while ~ break)

In [ ]:
n = 1
total_sum = 0

while True:
    total_sum += n
    if total_sum > 1000:
      break
    n += 1

print('n:', n)
print('합:', total_sum)

n: 45
합: 1035

In [ ]:
x = 0
sum = 0
while sum < 1000:
    x += 1
    sum += x
print(x)
print(sum)

45
1035

In [ ]:
# Q. while문을 사용해 1부터 1000까지의 정수 중 3의 배수의 합을 구해 보세요.

In [ ]:
total = 0
n = 1
while n <= 1000:
    if n % 3 == 0:
        total += n
    n += 1
print(total)

166833

In [ ]:
n = 3
sum = 0
while n <= 1000:
    sum+= n
    n += 3
print(sum)

166833

In [ ]:
# Q. 정수를 입력하면 홀수 짝수를 판별하는 프로그램 작성

In [ ]:
while True:
    try:
        number = int(input("정수를 입력하세요.:"))

        if number % 2 == 1:
            print("홀수입니다.")
        else:
            print("짝수입니다.")
        break # 정수 입력 시 while 루프를 빠져나감
    except ValueError:
     print("정수가 아닌 값이 입력되었어요. 정수를 입력하세요.")

정수를 입력하세요.:2.4
정수가 아닌 값이 입력되었어요. 정수를 입력하세요.
정수를 입력하세요.:4
짝수입니다.

In [ ]:
# Q. 입력받은 문자열의 각 문자를 그 다음 문자로 변경하여 출력하세요. (ABC -> BCA)

In [ ]:
def shift_characters(input_str):
    shifted_str = ""
    for i in range(len(input_str)):
        # 현재 문자를 다음 문자로 변경하여 추가합니다.
        shifted_str += chr(ord(input_str[i]) + 1)
        # 마지막 문자인 경우, 첫 번째 문자로 이동합니다.
        if shifted_str[-1] > 'z':
            shifted_str = chr(ord(shifted_str[-1]) - 26)
    return shifted_str

# 문자열 입력 받기
input_str = input("문자열을 입력하세요: ")

# 문자열 각 문자를 다음 문자로 변경하여 출력
print("결과:", shift_characters(input_str))

In [ ]:
data = input('문자열을 입력 : ')
for i in range(len(data)):
    if i == 0:
        continue
    print(data[i], end='')
else:
    print(data[0])

문자열을 입력 : cde
dec

zip() 함수(중요)
- 여러 개의 이터러블(리스트, 튜플 등)을 인자로 받아, 동일한 인덱스에 있는 요소들을 하나의 튜플로 묶어서 이터레이터를 반환
- 데이터를 병렬로 처리할 때 유용

In [ ]:
list1 = [1, 2, 3, 4]
list2 = ['a', 'b', 'c', 'd']
zipped = zip(list1, list2)
print(list(zipped))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [ ]:
# Q. 두 개의 리스트(이름과 성)를 사용하여 각 사람의 전체 이름을 생성하세요.
first_names = ["John", "Jane","Corey", "Travis"]
last_names = ["Doe", "Smith", "Turner", "Williams"]

full_names = [first + " "+ last for first, last in zip(first_names, last_names)]
print(full_names)

['John Doe', 'Jane Smith', 'Corey Turner', 'Travis Williams']

In [ ]:
# Q. 학생들의 수학과 영어 점수를 각각의 리스트로 받아 평균 점수를 계산하세요.
math_scores = [88, 92, 79, 93, 85]
english_scores = [90, 91, 85, 88, 86]


average_scores = [(math + english) / 2 for math, english in zip(math_scores, english_scores)]
print(average_scores)

[89.0, 91.5, 82.0, 90.5, 85.5]

In [ ]:
# Q. 상품 이름과 가격이 각각 다른 리스트에 저장되어 있을 때, 상품명과 가격을 튜플로 묶어 출력하세요.
products = ["apple", "banana", "cherry"]
prices = [1.2, 0.5, 2.5]

for product, price in zip(products, prices):
    print(f'Product: {product}, Price ${price}')

Product: apple, Price $1.2
Product: banana, Price $0.5
Product: cherry, Price $2.5

#### 파이썬의 random 모듈
난수를 생성하기 위한 다양한 함수를 제공
- 기본 난수 생성:
  - random.random(): 0과 1 사이의 무작위 부동소수점 숫자를 반환.
- 범위 지정 난수 생성:
  - random.randint(a, b): a와 b 사이의 무작위 정수를 반환(b 포함).
  - random.randrange(start, stop[, step]): 지정된 범위에서 무작위 정수를 반환. step을 설정하여 수의 간격을 조정할 수 있다.
- 시퀀스용 함수:
  - random.choice(sequence): 주어진 시퀀스(리스트, 튜플 등)에서 무작위로 아이템을 선택하여 반환.
  - random.shuffle(x[, random]): 리스트의 항목들을 무작위로 섞는다. random은 섞기를 위한 함수를 커스텀할 때 사용.
  - random.sample(population, k): 주어진 시퀀스에서 무작위로 k개의 항목을 뽑아 새 리스트로 반환.
- 분포 기반 난수 생성:
  - random.uniform(a, b): a와 b 사이의 무작위 부동소수점 숫자를 균등 분포로 반환.
  - random.gauss(mu, sigma): 평균 mu와 표준편차 sigma를 가지는 정규 분포에서 난수를 반환.

In [ ]:
import random

# 0과 1 사이의 난수 생성
print(random.random())
# 1과 10 사이의 정수 반환(10포함)
print(random.randint(1,10))
# 리스트에서 무작위로 하나의 원소 선택
items = [1, 2, 3, 4, 5]
print(random.choice(items))
# 리스트의 원소를 무작위로 섞기
random.shuffle(items)
print(items)
# 정규 분포 난수 생성
mean = 0
std_dev = 1
print(random.gauss(mean, std_dev))

0.298915607840082
5
5
[5, 1, 3, 4, 2]
-1.4569176156608563

In [ ]:
from random import shuffle
male = ['철수', '갑돌', '로미오', '이몽룡', '온돌']
shuffle(male)
male

['철수', '온돌', '이몽룡', '로미오', '갑돌']

In [ ]:
t = ('로미오', '갑순')
print

Q. 음식점의 음식 주문가격 산출 프로그램을 자유롭게 작성하세요.

In [ ]:
print("KITA 식당에 오신 것을 환영합니다.\n")
print('='*28)
print("- 메  뉴 -")
print("1. 불고기 비빔밥 : 12,000원")
print("2. 야채 비빔밥 : 80,000원")
print("3. 전주 비빔밥 : 10,000원\n")
print("세트 주문시 : 3000원 추가\n(세트는 밥과 반찬이 추가됩니다.)\n")
print('='*28)
num = int(input("비빔밥 메뉴를 선택해 주세요."))
if num == 1:
    m = 12000
elif num == 2:
    m = 8000
else:
    m = 10000
q1 = input("세트 주문을 하시겠습니까?")
if q1 == "yes":
    total_price= m + 3000
    print("3000원이 추가됩니다.")
else:
    total_price = m
    print("세트 메뉴가 추가되지 않았습니다.")
print("총 금액은 f'{total_price}원 입니다. ")

KITA 식당에 오신 것을 환영합니다.

============================
- 메  뉴 -
1. 불고기 비빔밥 : 12,000원
2. 야채 비빔밥 : 80,000원
3. 전주 비빔밥 : 10,000원

세트 주문시 : 3000원 추가
(세트는 밥과 반찬이 추가됩니다.)

============================
비빔밥 메뉴를 선택해 주세요.2
세트 주문을 하시겠습니까?N
세트 메뉴가 추가되지 않았습니다.
총 금액은 f'{total_price}원 입니다.

In [ ]:
# 예시
'''
KITA 식당에 오신 것을 환영합니다

========================================

          - 메  뉴 -
    1. 불고기 비빔밥 : 12,000원
    2. 야채 비빔밥 : 8,000원
    3. 전주 비빔밥 : 10,000원

    세트 주문시 : 3000원 추가
    (세트는 밥과 반찬이 추가됩니다.)

========================================

비빔밥 메뉴를 선택해 주세요. 1, 2, 3 >>> 2
세트 주문을 하시겠습니까? 3,000원 추가. y, n >>> y
총 금액은 11000원 입니다.
'''

In [ ]:
def main():
    print("KITA 식당에 오신 것을 환영합니다")
    print("\n" + "=" * 40)
    print("\n          - 메  뉴 -")
    print("    1. 불고기 비빔밥 : 12,000원")
    print("    2. 야채 비빔밥 : 8,000원")
    print("    3. 전주 비빔밥 : 10,000원")
    print("\n    세트 주문시 : 3,000원 추가")
    print("    (세트는 밥과 반찬이 추가됩니다.)")
    print("\n" + "=" * 40)

    # 사용자로부터 메뉴 선택을 받는다.
    menu_choice = int(input("\n비빔밥 메뉴를 선택해 주세요. 1, 2, 3 >>> "))

    # 메뉴별 가격을 설정한다.
    prices = {1: 12000, 2: 8000, 3: 10000}

    # 사용자가 선택한 메뉴의 가격을 가져온다.
    total_price = prices.get(menu_choice, 0)

    # 세트 주문 여부를 확인한다.
    set_order = input("세트 주문을 하시겠습니까? 3,000원 추가. y, n >>> ").lower()
    if set_order == 'y':
        total_price += 3000

    print(f"총 금액은 {total_price}원 입니다.")

if __name__ == "__main__":
    main()

[ 대각선 수 구하기 ]

4행 3열에서
첫 번째 행은 3개의 대각선에 각각 기여합니다.
첫 번째 열은 4개의 대각선에 각각 기여합니다.
하지만 가장 왼쪽 상단의 원소가 두 방향에서 모두 카운트되므로, 총 대각선 수는 3 + 4 − 1 = 6개가 됩니다.

[ 대각선 합 구하기 ]

a b c\
d e f\
g h i\
j k l

대각선 0: a\
대각선 1: b + d\
대각선 2: c + e + g\
대각선 3: f + h + j\
대각선 4: i + k\
대각선 5: l

In [ ]:
# 중복 제거 후 순서대로 나열된 리스트
input_list = [1, 2, 6, 2, 3, 7, 4, 4, 5, 6, 7, 7]
print(f'{집합:}')

In [ ]:
input_list = [1, 2, 6, 2, 3, 7, 4, 4, 5, 6, 7, 7]

def remove_dup(input_list):
  num = []
  result = []
  for item in input_list:
    if item not in num:
      num.append(item)
  return num

result=remove_dup(input_list)
print(result)

Q. 계속 주문 기능 추가

In [ ]:
def display_menu():
    print("KITA 식당에 오신 것을 환영합니다")
    print("\n" + "=" * 40)
    print("\n          - 메  뉴 -")
    print("    1. 불고기 비빔밥 : 12,000원")
    print("    2. 야채 비빔밥 : 8,000원")
    print("    3. 전주 비빔밥 : 10,000원")
    print("\n    세트 주문시 : 3,000원 추가")
    print("    (세트는 밥과 반찬이 추가됩니다.)")
    print("\n" + "=" * 40)

    # 사용자로부터 메뉴 선택을 받는다.
    menu_choice = int(input("\n비빔밥 메뉴를 선택해 주세요. 1, 2, 3 >>> "))

    # 메뉴별 가격을 설정한다.
    prices = {1: 12000, 2: 8000, 3: 10000}

    # 사용자가 선택한 메뉴의 가격을 가져온다.
    total_price = prices.get(menu_choice, 0)

    # 세트 주문 여부를 확인한다.
    set_order = input("세트 주문을 하시겠습니까? 3,000원 추가. y, n >>> ").lower()
    if set_order == 'y':
        total_price += 3000

    print(f"총 금액은 {total_price}원 입니다.")


def main():
    while True:
        display_menu()
        order()

        continue_ordering = input("\n다시 주문하시겠습니까? (주문: enter, 종료: '종료' 입력)")
        if countinue_ordering == '종료'
          break

    print("감사합니다. 다음에 또 방문해주세요.")

if __name__ == "__main__":
    main()

KITA 식당에 오신 것을 환영합니다

========================================

          - 메  뉴 -
    1. 불고기 비빔밥 : 12,000원
    2. 야채 비빔밥 : 8,000원
    3. 전주 비빔밥 : 10,000원

    세트 주문시 : 3,000원 추가
    (세트는 밥과 반찬이 추가됩니다.)

========================================

비빔밥 메뉴를 선택해 주세요. 1, 2, 3 >>> 1

KeyboardInterrupt: Interrupted by user

In [ ]:
# mymodule.py 파일의 내용을 문자열로 정의합니다.
module_content = """
def print_hello():
    print("Hello from mymodule!")

def print_goodbye():
    print("Goodbye from mymodule!")

print_hello()
print_goodbye()
"""

# 파일을 쓰기 모드로 열고, 내용을 작성한 뒤 파일을 닫습니다.
with open("mymodule.py", "w") as file:
    file.write(module_content)

# 파일이 저장된 위치 확인 (일반적으로 Colab의 현재 작업 디렉토리)
!ls

mymodule.py  sample_data

if __name__ == "__main__":

- 현재 모듈이 직접 실행되는지 또는 다른 파일에 의해 임포트되어 사용되는지를 판단할 때 사용.
- 만약 모듈이 직접 실행되면 __name__ 변수의 값은 "__main__"이 되고, 모듈이 다른 파일에서 임포트되어 사용될 경우 __name__은 모듈의 이름이 된다.

In [ ]:
def print_hello():
    print("Hello from mymodule!")

def print_goodbye():
    print("Goodbye from mymodule!")
if __name__ == "__main__":
    print("This code runs only when mymodule.py is executed")

This code runs only when mymodule.py is executed

Q. 여러개의 음식을 동시에 주문할 수 있는 주문 시스템을 작성하세요.(구조 지향)

In [ ]:
# 메뉴 아이템과 가격 설정
menu_items = {
    '1': ("불고기 비빔밥", 12000)
    '2': ("야채 비빔밥", 8000)
    '3': ("전주 비빔밥", 10000)
}