<a href="https://colab.research.google.com/github/windyday0622/windyday/blob/main/m2_%ED%8C%8C%EC%9D%B4%EC%8D%AC%20%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%B0%8D/%203_%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

파이썬에서 함수는 크게 내장 함수(Built-in Functions)와 외장 함수(External Functions)로 나뉩니다.

파이썬 표준 라이브러리
https://docs.python.org/ko/3.10/library/index.html

1. 내장 함수 (Built-in Functions):
- 내장 함수는 파이썬 인터프리터에 포함되어 있어, 별도의 모듈을 임포트(import)하지 않고도 사용 예를 들어, print(), len(), type(), range(), zip() 등이 내장 함수입니다.
- 이러한 함수들은 기본적인 작업을 수행하며, 파이썬 프로그래밍의 기본적인 빌딩 블록(building blocks)으로 작동

2. 외장 함수 (External Functions):
- 표준 라이브러리에 포함된 모듈과 함수를 가리키는 것으로 모듈을 임포트하여 사용
- 파이썬 표준 라이브러리의 os, sys, math, random, datetime 등의 모듈에는 다양한 외장 함수가 포함
- import 해서 쓰면 됨.

3. 외부 라이브러리나 패키지
- 표준 라이브러리에 포함되지 않아 기본 설치에는 포함되지 않는다.
- 이를 사용하려면 먼저 해당 라이브러리나 패키지를 설치
- 외부 라이브러리는 통상적으로 파이썬의 패키지 관리자인 pip를 사용하여 설치
- 설치 후에는 외장 함수와 마찬가지로 필요한 모듈을 임포트하여 사용
- 예: numpy, pandas, requests 등의 외부 라이브러리에 포함된 함수들.

3. 사용자 정의 함수(User-Defined Functions):
- 사용자가 직접 정의하여 사용하는 함수
- def 키워드를 사용하여 함수를 정의하며, 필요에 따라 매개변수와 반환 값을 지정

4. 람다 함수(Lambda Functions):
- 이름 없는 간단한 함수를 정의할 때 사용하는 익명 함수
- lambda 키워드를 사용하여 한 줄로 함수를 정의하며, 주로 간단한 연산이 필요할 때 사용

In [ ]:
# 내장 함수 예제
print("Hello, World")
print(len([1, 2, 3, 4]))
print(type(10))

Hello, World
4
<class 'int'>

In [ ]:
# Q. 내장함수로 다음을 수행하세요.
a = [1, 2, 3, 4, 5]
print(sum(a))
print(max(a))
print(min(a))
print(sorted(a))
print(list(reversed(a)))

15
5
1
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [ ]:
print(type(42))
print(abs(-5)) # 절대값
print(round(3.14159, 2)) # 반올림
print(pow(2, 3)) # 2의 3승

<class 'int'>
5
3.14
8

In [ ]:
# 외장함수 예제
import math
print(math.sqrt(16))

import random
print(random.randint(1,10))

import datetime
print(datetime.datetime.now())

4.0
4
2024-05-03 06:25:51.206665

In [ ]:
# Q. datatime.datetime.now()에서 연도, 월, 일, 시, 분, 초, 마이크로초를 각각 출력하세요.
from datetime import datetime
now = datetime.now()
print(now.year)
print(now.month)
print(now.day)
print(now.hour)
print(now.minute)
print(now.second)
print(now.microsecond)

2024
5
3
6
30
49
37448

In [ ]:
import os
print(os.getcwd())
print(os.listdir())

/content
['.config', 'new_folder', 'sample_data']

In [ ]:
os.mkdir('new_folder')

FileExistsError: [Errno 17] File exists: 'new_folder'

In [ ]:
!ls -la

total 20
drwxr-xr-x 1 root root 4096 May  3 06:37 .
drwxr-xr-x 1 root root 4096 May  3 06:16 ..
drwxr-xr-x 4 root root 4096 May  1 13:19 .config
drwxr-xr-x 2 root root 4096 May  3 06:37 new_folder
drwxr-xr-x 1 root root 4096 May  1 13:20 sample_data

In [ ]:
os.removedirs('new_folder')

In [ ]:
# 외부 라이브러리 예제
# 먼저 pip을 사용하여 pandas 라이브러리를 설치합니다.
# !pip install pandas

import pandas as pd

# pandas의 dataFrame 객체 생성
data = {'Name': ['Alice', 'Bob', 'Chharlie'], 'Age': [24, 30, 35]}
df = pd.DataFrame(data)

# pandas의 head() 함수를 사용하여 DateFrame의 처음 5행 출력 (여기서는 3행만 존재)
print(df.head(2))

    Name  Age
0  Alice   24
1    Bob   30

In [ ]:
import numpy as np
data = [1, 2, 3, 4]
arr = np.array(data)
print(arr, type(arr))

[1 2 3 4] <class 'numpy.ndarray'>

In [ ]:
# 사용자 함수 예제
def greet(name):
    return f"Hello, {name}!"

print(greet("홍길동"))

Hello, 홍길동!

람다함수

In [ ]:
# 람다 함수는 간단한 한 줄의 함수를 작성할 때 유용
multiply = lambda x, y : x * y
print(multiply(3, 4))

12

In [ ]:
# 조건 사용
is_even = lambda x: True if x % 2 == 0 else False
print(is_even(4))
print(is_even(5))

True
False

#### 파이썬 패키지,  모듈, 함수, 클래스
- 코드 작성 시 이미 만들어져 있는 함수들을 활용하면 보다 효율적이고 빠르게 개발 가능
- 이미 만들어져 있고 안정성이 검증된 함수들을 성격에 맞게 하나의 파이썬 파일에 묶어 만들어 놓을 것을 모듈이라 함
- 외부 모듈에 있는 함수들을 활용하려면 이 모듈을 먼저 가져와서 사용해야 하는데 이것을 모듈을 임포트한다고 한다.
- 파이썬 모듈이 하나의 파이썬 파일이라면 패키지는 디렉토리로 볼 수 있다.

패키지
1. 라이브러리라고도 부름
2. 특정 기능과 관련된 여러 모듈을 한 그룹으로 묶은 것
3. 패키지 안에 서브패키지가 있을 수도 있다.
4. import 패키지/모듈, from 패키지/모듈 import 서브패키지/모듈
  
   
모듈
1. 여러 기능들이 뭉쳐진 하나의. py파일
2. 함수, 클래스, 변수 등 포함
3. import 모듈

함수
1. 하나의 기능을 가진 코드의 집합
2. 함수를 사용한다 = 함수를 호출한다
3. 함수 사용 형태: 함수( )
   - 필요한 경우 () 안에 매개변수 또는 옵션
4. 종류
   - 내장 함수(built in function)
   - 외장 함수: import 해주어야 함
   
클래스   
- 파이썬은 객체 지향 언어로클래스를 기반으로 객체를 만들어 사용한다.
- 한 파이썬 파일(. py) 내에서 "class class명():"을 통해 클래스 선언

#### 함수 vs 메소드
- 함수 (Function)
    - 함수는 특정 작업을 수행하거나 값을 계산하기 위해 정의된 코드의 블록
    - 함수는 def 키워드를 사용하여 정의
    - 함수는 전역적으로 호출할 수 있거나 다른 함수 내부에서 호출할 수 있다.    
- 메소드 (Method)
    - 메소드는 객체에 속한 함수, 메소드는 특정 객체의 기능으로 정의
    - 메소드는 객체와 연결되어 있으며, . (점) 표기법을 사용하여 해당 객체에 대한 메소드를 호출
    - 메소드는 첫 번째 매개변수로 self를 사용하여 객체 자체를 참조 (클래스 내부에서 메소드를 정의할 때)
- 주요 차이점
    - 정의: 함수는 독립적으로 정의되지만, 메소드는 클래스 내부에서 정의
    - 호출: 함수는 이름만으로 호출될 수 있지만, 메소드는 객체를 통해 호출
    - 참조: 메소드는 첫 번째 매개변수로 객체 자신을 참조(self), 반면 함수는 이런 자체 참조 매개변수를 갖지 않는다.

In [ ]:
def my_function():
    print("Hello from a function")

my_function()

Hello from a function

In [ ]:
# 메소드 호출
class MyClass:
    def my_method(self):
        print("Hello form a method")

obj = MyClass()
obj.my_method()

Hello form a method

In [ ]:
# 내장함수 연습
print(abs(-3))
print(all([1, 2, 3, 0]))
print(any([1, 2, 3, 0]))
print(chr(65))
print(float(3))
print(int(3.9))
print(max(1, 10))
print(min(1, 10))
print(pow(10, 2))
print(round(2.675,2))

3
False
True
A
3.0
3
10
1
100
2.67

In [ ]:
# 함수가 다른 객체와 마찬가지로 변수에 할당되거나, 다른 함수로 전달되거나, 다른 함수로부터 반환될 수 있음
# pow를 다른 변수에 할당
my_pow = pow
result = my_pow(2,3)
print(result)
# 함수를 인자로 전달
def apply_func(func, x, y):
    return func(x, y)
result = apply_func(pow, 3, 4)
print(result)

8
81

In [ ]:
age = 30
print("I am " + str(age) + " years old.")

I am 30 years old.

sort, sorted 모두 key, reverse 매개변수를 갖고 있다.

* reverse : 기본값은 reverse=False(오름차순), reverse=True를 매개변수로 입력하면 내림차순으로 정렬
* key : 정렬을 목적으로 하는 함수를 값으로 넣는다. lambda를 이용할 수 있고 key값을 기준으로 정렬되고 기본값은 오름차순

In [ ]:
my_list = [3, 1, 4, 2]
print(sorted(my_list))
my_list

[1, 2, 3, 4]

[3, 1, 4, 2]

In [ ]:
# Q. students = [('Alice', 90), ('Bob', 85), ('Charlie', 88)]를 점수를 기준으로 정렬하세요.
students = [('Alice', 90), ('Bob', 85), ('charlie', 88)]
# sorted_students = sorted(students, key=lambda x:x[1]) #key는 sort 기준
sorted_students = sorted(students, key=lambda x:x[1], reverse=True)
print(sorted_students)

AttributeError: 'list' object has no attribute 'item'

In [ ]:
print(list(range(5)))
print(list(range(1, 6)))
print(list(range(1, 10, 2)))
print(list(range(0, -10, -1)))

[0, 1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 3, 5, 7, 9]
[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

In [ ]:
# Q. 실행가능한 숫자를 문자열('5+5') 입력으로 받아 문자열을 숫자 연산으로 실행한 결과괎을 출력하세요.
print(eval(input('연산을 입력하세요.>')))

연산을 입력하세요.>5+5
10

In [ ]:
data = [1, 2, 3, 4, 5]
operation = input("실행할 리스트 연산을 입력하세요(예: 'data.append(6) 'data.pop()')")
eval(operation)
print(f'수정된 데이터: {data}')

실행할 리스트 연산을 입력하세요(예: 'data.append(6) 'data.pop()')data.append(6)
수정된 데이터: [1, 2, 3, 4, 5, 6]

In [ ]:
for idx, element in enumerate(['ele1', 'ele2', 'ele3']):
    print(idx+1, element)

1 ele1
2 ele2
3 ele3

In [27]:
# Q. enumerate와 f-string을 사용하여 특정 리스트에서 원하는 형태로 출력을 하세요.(인덱스와 내용을 믹스하여)
list02 = ['사과', '키위', '딸기', '참외', '수박']

print("과일의 종류")
for i, a in enumerate(list02):
    print(f' {i}. {a}')

과일의 종류
 0. 사과
 1. 키위
 2. 딸기
 3. 참외
 4. 수박