<a href="https://colab.research.google.com/github/windyday0622/windyday/blob/main/m2_%ED%8C%8C%EC%9D%B4%EC%8D%AC%20%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%B0%8D/%20%EA%B3%BC%EC%A0%9C_240502.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Task1_0502. 짝수와 짝수를 입력하면 곱한 값을 출력하고 홀수와 홀수를 입력하면 덧셈 값을 출력하고 그외는 다시 입력하라는 메시지를 출력하세요.

In [ ]:
num1 = int(input("숫자를 입력하세요: "))
num2 = int(input("숫자를 입력하세요: "))
if num1 % 2 == 0 and num2 % 2 == 0:
    print(num1 * num2)
elif num1 % 2 == 1 and num2 % 2 == 1:
     print(num1 + num2)
else:
     print("다시 입력하세요!")

숫자를 입력하세요: 4
숫자를 입력하세요: 2
8

In [ ]:
Task2_0502. 현재 계절 구분 프로그램
- 시나리오 : 3 ~ 5월은 봄, 6 ~ 8월은 여름, 9 ~ 11월은 가을, 12 ~ 2월은 겨울로 구분. 지금 계절을 알려주는 프로그램
- 각 계절별 출력 멘트는 계절에 맞게 창작
- if 조건문으로 datetime 모듈을 import해서 datetime.now 함수를 사용해서 작성

In [ ]:
import datetime

now = datetime.datetime.now()
month = now.month

if 3 <= month <= 5:
    print("따뜻한 바람이 불고 아름다운 꽃들이 피어나는 봄이에요.")
elif 6 <= month <= 8:
    print("뜨거운 햇빛과 찬란히 둥실대는 바다를 볼 수 있는 여름이에요.")
elif 9 <= month <= 11:
    print("단풍이 들고 서늘한 바람이 부는 가을이에요.")
else:
    print("하얀 눈이 내리고 온 세상이 하얗게 물드는 추운 겨울이에요.")

따뜻한 바람이 불고 아름다운 꽃들이 피어나는 봄이에요.

In [ ]:
Task3_0502. 1부터 99까지 아래와 같이 2개의 수를 곱해서 가장 큰 수를 구하세요.

1*99, 2*98 ...99*1

In [ ]:
max_result = 0
for i in range(1,100):
    result = i * (100-i)
    if result > max_result:
        max_result = result
print('가장 큰 수: ', max_result)

가장 큰 수:  2500

In [3]:
# 입력값 없고 출력값만 있는 형태의 사용자 함수
def findBiggestOne():
    biggestNum = 0
    for i, j in zip(range(1,100), range(99,0,-1)):
        if i*j > biggestNum:
             biggestNum = i*j
    return biggestNum
print(findBiggestOne())

2500

In [5]:
numbers = [str(i) for i in range(99,0,-1)]
print(numbers)
print(type(numbers))
print(type(numbers[0]))
print(type(str(numbers)))
print(str(numbers))

['99', '98', '97', '96', '95', '94', '93', '92', '91', '90', '89', '88', '87', '86', '85', '84', '83', '82', '81', '80', '79', '78', '77', '76', '75', '74', '73', '72', '71', '70', '69', '68', '67', '66', '65', '64', '63', '62', '61', '60', '59', '58', '57', '56', '55', '54', '53', '52', '51', '50', '49', '48', '47', '46', '45', '44', '43', '42', '41', '40', '39', '38', '37', '36', '35', '34', '33', '32', '31', '30', '29', '28', '27', '26', '25', '24', '23', '22', '21', '20', '19', '18', '17', '16', '15', '14', '13', '12', '11', '10', '9', '8', '7', '6', '5', '4', '3', '2', '1']
<class 'list'>
<class 'str'>
<class 'str'>
['99', '98', '97', '96', '95', '94', '93', '92', '91', '90', '89', '88', '87', '86', '85', '84', '83', '82', '81', '80', '79', '78', '77', '76', '75', '74', '73', '72', '71', '70', '69', '68', '67', '66', '65', '64', '63', '62', '61', '60', '59', '58', '57', '56', '55', '54', '53', '52', '51', '50', '49', '48', '47', '46', '45', '44', '43', '42', '41', '40', '39', '38', '37', '36', '35', '34', '33', '32', '31', '30', '29', '28', '27', '26', '25', '24', '23', '22', '21', '20', '19', '18', '17', '16', '15', '14', '13', '12', '11', '10', '9', '8', '7', '6', '5', '4', '3', '2', '1']

In [ ]:
Task4_0502. [    ]을 채워서 아래의 출력과 같이 출력하세요.
numbers = [1,2,3,4,5,6,7,8,9]
output = [[], [], []]


# [[1,4,7],[2,5,8],[3,6,9]]

In [ ]:
Task5_0502. 주어진 리스트에서 중복된 요소를 제거하고, 남은 요소만을 포함하는 새 리스트를 반환합니다. 순서는 유지해야 합니다.
input_list = [1, 2, 2, 3, 4, 4, 4, 5, 6, 7, 7]

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
output = [[], [], []]

for i, num in enumerate(numbers):
    output[i % 3].append(num)
print(output)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [ ]:
numbers= [1, 2, 3, 4, 5, 6, 7, 8, 9]
output = [[], [], []]

for number in numbers:
    output[(number-1)%3].append(number)
print(output)

In [ ]:
input_list = [1, 2, 2, 3, 4, 4, 4, 5, 6, 7, 7]
tuple1 = set(input_list)
list2 = list(tuple1)
print(list2)

[1, 2, 3, 4, 5, 6, 7]

In [11]:
input_list = [1, 2, 6, 2, 3, 7, 4, 4, 5, 6, 7, 7]

def remove_duplicates(input_list):
    num = set()
    result = []
    for item in input_list:
        if item not in input_list:
            num.add(i)
            num.append(i)
    return result
print(remove_duplicates(input_list))
set(input_list)

AttributeError: 'set' object has no attribute 'append'

In [8]:
# 6. 주어진 문자열을 모스 코드로 변환하는 함수를 작성하세요. 공백은 무시하고 알파벳만 변환하세요.
morse_code = {
        'A': '.-', 'B': '-...', 'C': '-.-.', 'D': '-..', 'E': '.', 'F': '..-.',
        'G': '--.', 'H': '....', 'I': '..', 'J': '.---', 'K': '-.-', 'L': '.-..',
        'M': '--', 'N': '-.', 'O': '---', 'P': '.--.', 'Q': '--.-', 'R': '.-.',
        'S': '...', 'T': '-', 'U': '..-', 'V': '...-', 'W': '.--', 'X': '-..-',
        'Y': '-.--', 'Z': '--..'
    }
input_text = "Hello World"
result = ""

for char in input_text:
    if char.upper() in morse_code:
        result += morse_code[char.upper()]
print(result)

......-...-..---.-----.-..-..-..

In [ ]:
Task7_0502. 주어진 비대칭 m×n 매트릭스(2차원 리스트)에서, 모든 대각선 상의 합을 계산하는 함수를 작성하세요. 결과는 각 대각선의 합을 리스트로 반환해야 합니다.

input_matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
    [10, 11, 12]
]

In [ ]:
input_matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
    [10, 11, 12]
]
print(len(input_matrix))
print(len(input_matrix[0]))

In [ ]:
def diagonal_sums(matrix):
    if not matrix:
        return []
    m, n = len(matrix), len(matrix[0])
    # 최대 가능한 대각선 수는 m + n - 1
    print(m,n)
    max_diagonals = m + n - 1
    result = [0] * max_diagonals

    # 모든 원소를 순회하면서 해당 대각선 인덱스에 값을 더함
    for i in range(m):
        for j in range(n):
            # 대각선 인덱스는 행 인덱스와 열 인덱스의 차의 절댓값
            diagonal_index = i + j
            result[diagonal_index] += matrix[i][j]

    return result

# 매트릭스 입력
input_matrix = [
    [1, 2, 3],
    [4, 5

In [ ]:
4행 3열에서
첫 번째 행은 3개의 대각선에 각각 기여합니다.
첫 번째 열은 4개의 대각선에 각각 기여합니다.
하지만 가장 왼쪽 상단의 원소가 두 방향에서 모두 카운트되므로, 총 대각선 수는 3 + 4 − 1 = 6개가 됩니다.