<a href="https://colab.research.google.com/github/windyday0622/windyday/blob/main/m2_%ED%8C%8C%EC%9D%B4%EC%8D%AC%20%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%B0%8D/%20%EA%B3%BC%EC%A0%9C_240509.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Task1_0509. 주어진 텍스트에서 문자 빈도를 아래와 같이 출력하세요.(사용자 함수 사용)

가장 많이 나온 문자 5개를 뽑아 봤습니다.\
[e] -> [97]회 나타남\
[t] -> [85]회 나타남\
[a] -> [78]회 나타남\
[o] -> [73]회 나타남\
[s] -> [60]회 나타남

In [ ]:
with open('mydata.txt','w') as f:
    f.write(
'''
a lot of things occur each day
we've got to live with on our way
there's so much misery on the screen
with commercials in between

and the russians won't be so late
uncle sam don't want to wait
no matter if you're black or white
you never ever had a right

and look up to the eternal skies
see warfare even there
what once has been a paradise
now destruction and despair

in other worlds the children die
lacking food ill from a fly
oppressed by troops to tame their land
it's all the same again


if any man is free on earth
then tormentors steal his birth
they slam gun butts in his face
and leave his woman choked in mace

so stand up for our human rights
push back this pest of hate
raise you voice pass on the light
unite! it's not too late

how many tears flow away
to become a sea of fears
how many hearts are torn apart
till another torment starts

but before the world
turns into a sun
all cruelty and violence
on earth will be dead and gone

so stand up for our human rights
push back this pest of hate
raise you voice pass on the light
unite! it's not too late
''')
with open('mydata.txt', 'r') as f:
    data = f.read()
    print(data)

In [1]:
def 문자_빈도_출력(텍스트):
    문자_빈도 = {}
    for 문자 in 텍스트:
        if 문자 in 문자_빈도:
            문자_빈도[문자] += 1
        else:
            문자_빈도[문자] = 1

    정렬된_빈도 = sorted(문자_빈도.items(), key=lambda x: x[1], reverse=True)

    for i in range(5):
        print(f"[{정렬된_빈도[i][0]}] -> [{정렬된_빈도[i][1]}]회 나타남")

Task2_0509.  람다함수와 적합한 내장함수를 사용하여 아래와 같이 출력하세요.

[1,2,3,4,5] -> [1,4,9,16,25]\
[1,2,3,4,5] -> [1,2]

In [ ]:
# 첫 번째 리스트: 제곱 값 리스트 생성
list1 = [1, 2, 3, 4, 5]
squared_list = list(map(lambda x: x ** 2, list1))
print(squared_list)

# 두 번째 리스트: 짝수만 필터링
even_list = list(filter(lambda x: x % 2 == 0, list1))
print(even_list)

Task3_0509. [1,-3,2,0,-5,6] 에서 양수만 필터링해서 출력하세요(내장함수, 사용자함수 각각 이용)

In [ ]:
numbers = [1, -3, 2, 0, -5, 6]
positive_numbers = list(filter(lambda x: x > 0, numbers))
print(positive_numbers)

In [ ]:
def filter_positive(numbers):
    result = []
    for num in numbers:
        if num > 0:
            result.append(num)
    return result

numbers = [1, -3, 2, 0, -5, 6]
positive_numbers = filter_positive(numbers)
print(positive_numbers)