<a href="https://colab.research.google.com/github/windyday0622/windyday/blob/main/m2_%ED%8C%8C%EC%9D%B4%EC%8D%AC%20%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%B0%8D/%EA%B3%BC%EC%A0%9C240429.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Task1_0429.

input_str = "Hello, world! How are you today? I am fine Thank you!"

['Hello', 'world', 'How', 'are', 'you', 'today', 'I', 'am', 'fine', 'Thank', 'you']

In [ ]:
input_str = "Hello, world! How are you today? I am fine. Thank you!"
words = input_str.split()
print(words)

['Hello,', 'world!', 'How', 'are', 'you', 'today?', 'I', 'am', 'fine.', 'Thank', 'you!']

re.split() 함수의 동작:
- 주어진 문자열에서 공백, 쉼표, 마침표, 물음표, 느낌표를 포함하여 연속된 어떤 조합이라도 하나의 구분자로 취급하고, 이에 따라 문자열을 분리

정규 표현식 구성 요소:
- 대괄호([ ]): 대괄호는 문자 클래스를 만들며 대괄호 안에 포함된 어떤 문자와도 일치할 수 있다. 여기서는 공백( ), 쉼표(,), 마침표(.), 물음표(?), 느낌표(!)가 포함되어 있어 이 중 어떤 한 문자와도 일치할 수 있다.
- 플러스 기호(+): 이 기호는 직전의 요소가 하나 이상 반복될 때 사용. 즉, `[ ,.?!]+`는 공백, 쉼표, 마침표, 물음표, 느낌표 중 하나 이상 연속된 시퀀스와 일치. 이를 통해 문자열을 분리할 때 하나의 구분자만이 아닌, 여러 구분자가 연속적으로 위치해 있는 경우에도 단일 구분점으로 취급할 수 있다.

In [1]:
import re

input_str = "Hello, world! How are you today? I am faine. Thank you!"
# 여러 구분자(공백, 쉼표, 마침표, 느낌표)를 표함하는 정규 표현식을 사용
tokens = re.split('{} ,.?!]+', input_str)
tokens = [token for token in tokens if token]
print(tokens)

['Hello, world! How are you today? I am faine. Thank you!']

Task2_0429. 십진수 122를 2진수, 8진수, 16진수로 변경하여 출력하세요.

In [4]:
num = 122

binary = bin(num)
octal = oct(num)
hexadecimal = hex(num)

print("2진수:", binary)
print("8진수:", octal)
print("16진수:", hexadecimal)

2진수: 0b1111010
8진수: 0o172
16진수: 0x7a


Task3_0429. 두 수의 곱셈 결과를 계산하고, 그 결과에 10을 더하세요.

In [ ]:
a = int(input("숫자를 입력하시오."))
b = int(input("숫자를 입력하시오."))
print(a*b+10)

숫자를 입력하시오.10
숫자를 입력하시오.10
110

Task4_0429. 주어진 리스트에서 두 번째 요소를 삭제하고, 마지막에 새로운 요소 'Python'을 추가하세요.

리스트: ['Java', 'C', 'JavaScript']

In [ ]:
a = ['Java', 'C', 'JavaScript']
del a[1]
a.append('Python')
print(a)

['Java', 'JavaScript', 'Python']

In [6]:
a = ['Java', 'C', 'JavaScript']
a.pop(2)
print(a)

['Java', 'C']

Task5_0429. 주어진 문자열에서 처음 세 글자와 마지막 세 글자를 연결하여 새로운 문자열을 만드세요.

문자열: 'Incredible'

In [7]:
str = 'Incredible'
new_str = str[:3] + str[-3:]
print(new_str)

Incble

Task6_0429. 사용자의 이름과 이메일을 딕셔너리로 저장하고, 이름을 입력받아 해당하는 이메일을 출력하세요.

사용자 정보: 이름 - 'Alice', 이메일 - 'alice@example.com'

In [9]:
d = {'이름': '이메일'}
a = input("이름을 입력하세요: ")
b = input("이메일을 입력하세요:")
print(f'사용자 정보: 이름-{a},이메일-{b}')

이름을 입력하세요: alice
이메일을 입력하세요:alice@example.com
사용자 정보: 이름-alice,이메일-alice@example.com

Task7_0429. 주어진 두 튜플에서 공통 요소만을 찾아 집합으로 만드세요.

튜플: (1, 2, 3, 4, 5)와 (4, 5, 6, 7, 8)

In [ ]:
t1 = (1, 2, 3, 4, 5)
s1 = set(t1)
t2 = (4, 5, 6, 7, 8)
s2 = set(t2)
s3 = set(s1 & s2)
print(s3)

{4, 5}

Task8_Challenge_0429. 다음 요구 사항을 충족하는 프로그램을 작성하세요:

사용자로부터 이름, 나이, 좋아하는 색상을 입력받습니다.
입력받은 정보를 딕셔너리로 저장하고, 모든 사용자 정보를 리스트에 저장합니다.
이름이 'John'인 사용자의 정보만 출력하세요.
전체 사용자의 평균 나이를 계산하고 출력하세요.

사용자 데이터:
이름: John
나이: 28
좋아하는 색상: Blue

사용자 데이터:
이름: Alice
나이: 24
좋아하는 색상: Red

사용자 데이터:
이름: Maria
나이: 32
좋아하는 색상: Green

In [2]:
user_list = []

for _ in range(3): #_는 중요하지 않은, 형식적으로 처리할 때.
    name = input("이름을 입력하세요: ")
    age = int(input("나이를 입력하세요: "))
    color = input("좋아하는 색상을 입력하세요: ")

    user_info = {'이름': name, '나이': age, '좋아하는 색상': color}
    user_list.append(user_info)

print("\n'John'의 정보:")
for user in user_list:
    if user['이름'] == 'John':
        print("이름:", user['이름'])
        print("나이:", user['나이'])
        print("좋아하는 색상:", user['좋아하는 색상'])
        break
else:
    print("'John'의 정보를 찾을 수 없습니다.")

total_age = sum(user['나이'] for user in user_list)
average_age = total_age / len(user_list)
print("\n전체 사용자의 평균 나이:", average_age)

이름을 입력하세요: John
나이를 입력하세요: 28
좋아하는 색상을 입력하세요: Blue
이름을 입력하세요: Alice
나이를 입력하세요: 24
좋아하는 색상을 입력하세요: REd
이름을 입력하세요: Maria
나이를 입력하세요: 32
좋아하는 색상을 입력하세요: Green

'John'의 정보:
이름: John
나이: 28
좋아하는 색상: Blue

전체 사용자의 평균 나이: 28.0