<a href="https://colab.research.google.com/github/windyday0622/windyday/blob/main/m2_%ED%8C%8C%EC%9D%B4%EC%8D%AC%20%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%B0%8D/%EA%B3%BC%EC%A0%9C240429.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Task1_0429.

input_str = "Hello, world! How are you today? I am fine Thank you!"

['Hello', 'world', 'How', 'are', 'you', 'today', 'I', 'am', 'fine', 'Thank', 'you']

Task2_0429. 십진수 122를 2진수, 8진수, 16진수로 변경하여 출력하세요.

In [ ]:
num = 122

binary = bin(num)
octal = oct(num)
hexadecimal = hex(num)

print("2진수:", binary)
print("8진수:", octal)
print("16진수:", hexadecimal)


Task3_0429. 두 수의 곱셈 결과를 계산하고, 그 결과에 10을 더하세요.

Task4_0429. 주어진 리스트에서 두 번째 요소를 삭제하고, 마지막에 새로운 요소 'Python'을 추가하세요.

리스트: ['Java', 'C', 'JavaScript']

Task5_0429. 주어진 문자열에서 처음 세 글자와 마지막 세 글자를 연결하여 새로운 문자열을 만드세요.

문자열: 'Incredible'

Task6_0429. 사용자의 이름과 이메일을 딕셔너리로 저장하고, 이름을 입력받아 해당하는 이메일을 출력하세요.

사용자 정보: 이름 - 'Alice', 이메일 - 'alice@example.com'

Task7_0429. 주어진 두 튜플에서 공통 요소만을 찾아 집합으로 만드세요.

튜플: (1, 2, 3, 4, 5)와 (4, 5, 6, 7, 8)

Task8_Challenge_0429. 다음 요구 사항을 충족하는 프로그램을 작성하세요:

사용자로부터 이름, 나이, 좋아하는 색상을 입력받습니다.
입력받은 정보를 딕셔너리로 저장하고, 모든 사용자 정보를 리스트에 저장합니다.
이름이 'John'인 사용자의 정보만 출력하세요.
전체 사용자의 평균 나이를 계산하고 출력하세요.
사용자 데이터:
이름: John
나이: 28
좋아하는 색상: Blue
사용자 데이터:
이름: Alice
나이: 24
좋아하는 색상: Red
사용자 데이터:
이름: Maria
나이: 32
좋아하는 색상: Green