<a href="https://colab.research.google.com/github/windyday0622/windyday/blob/main/m2_%ED%8C%8C%EC%9D%B4%EC%8D%AC%20%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%B0%8D/%EA%B3%BC%EC%A0%9C240429.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Task1_0429.

input_str = "Hello, world! How are you today? I am fine Thank you!"

['Hello', 'world', 'How', 'are', 'you', 'today', 'I', 'am', 'fine', 'Thank', 'you']

In [1]:
input_str = "Hello, world! How are you today? I am fine. Thank you!"
words = input_str.split()
print(words)

['Hello,', 'world!', 'How', 'are', 'you', 'today?', 'I', 'am', 'fine.', 'Thank', 'you!']

Task2_0429. 십진수 122를 2진수, 8진수, 16진수로 변경하여 출력하세요.

In [ ]:
num = 122

binary = bin(num)
octal = oct(num)
hexadecimal = hex(num)

print("2진수:", binary)
print("8진수:", octal)
print("16진수:", hexadecimal)


Task3_0429. 두 수의 곱셈 결과를 계산하고, 그 결과에 10을 더하세요.

In [2]:
a = int(input("숫자를 입력하시오."))
b = int(input("숫자를 입력하시오."))
print(a*b+10)

숫자를 입력하시오.10
숫자를 입력하시오.10
110

Task4_0429. 주어진 리스트에서 두 번째 요소를 삭제하고, 마지막에 새로운 요소 'Python'을 추가하세요.

리스트: ['Java', 'C', 'JavaScript']

In [9]:
a = ['Java', 'C', 'JavaScript']
del a[1]
a.append('Python')
print(a)

['Java', 'JavaScript', 'Python']

Task5_0429. 주어진 문자열에서 처음 세 글자와 마지막 세 글자를 연결하여 새로운 문자열을 만드세요.

문자열: 'Incredible'

In [11]:
str = 'Incredible'
new_str = str[:3] + str[:-3]
print(new_str)

IncIncredi

Task6_0429. 사용자의 이름과 이메일을 딕셔너리로 저장하고, 이름을 입력받아 해당하는 이메일을 출력하세요.

사용자 정보: 이름 - 'Alice', 이메일 - 'alice@example.com'

In [21]:
d = {'이름': '이메일'}
a = input("이름을 입력하세요: ")
b = input("이메일을 입력하세요: ")
print(f'사용자 정보: 이름-{a},이메일-{b}')

이름을 입력하세요: Alice
이메일을 입력하세요:  alice@example.com
사용자 정보: 이름-Alice,이메일- alice@example.com

Task7_0429. 주어진 두 튜플에서 공통 요소만을 찾아 집합으로 만드세요.

튜플: (1, 2, 3, 4, 5)와 (4, 5, 6, 7, 8)

In [16]:
t1 = (1, 2, 3, 4, 5)
s1 = set(t1)
t2 = (4, 5, 6, 7, 8)
s2 = set(t2)
s3 = set(s1 & s2)
print(s3)

{4, 5}

Task8_Challenge_0429. 다음 요구 사항을 충족하는 프로그램을 작성하세요:

사용자로부터 이름, 나이, 좋아하는 색상을 입력받습니다.
입력받은 정보를 딕셔너리로 저장하고, 모든 사용자 정보를 리스트에 저장합니다.
이름이 'John'인 사용자의 정보만 출력하세요.
전체 사용자의 평균 나이를 계산하고 출력하세요.

사용자 데이터:
이름: John
나이: 28
좋아하는 색상: Blue

사용자 데이터:
이름: Alice
나이: 24
좋아하는 색상: Red

사용자 데이터:
이름: Maria
나이: 32
좋아하는 색상: Green

In [ ]:
user_list = []

for _ in range(3):
    name = input("이름을 입력하세요: ")
    age = int(input("나이를 입력하세요: "))
    color = input("좋아하는 색상을 입력하세요: ")

    user_info = {'이름': name, '나이': age, '좋아하는 색상': color}
    user_list.append(user_info)

print("\n'John'의 정보:")
for user in user_list:
    if user['이름'] == 'John':
        print("이름:", user['이름'])
        print("나이:", user['나이'])
        print("좋아하는 색상:", user['좋아하는 색상'])
        break
else:
    print("'John'의 정보를 찾을 수 없습니다.")

total_age = sum(user['나이'] for user in user_list)
average_age = total_age / len(user_list)
print("\n전체 사용자의 평균 나이:", average_age)