In [1]:
# MYSQL 데이터 베이스 연결 설정
import pymysql
# 데이터 베이스 연결
connection = pymysql.connect(
    host='localhost',
    user='hyunjin',
    password='Monster98!',
    database='hyunjin_db',
)

cursor = connection.cursor()

In [9]:
# 테이블 생성
create_table_query = """
CREATE TABLE customer(
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(50) NOT NULL,
    email VARCHAR(100) NOT NULL,
    age INT
)
"""
cursor.execute(create_table_query)
connection.commit()

In [10]:
# 컬럼 추가
# 이 컬럼은 TIMESTAMP 데이터 타입을 가지며, 기본값으로 현재 타임스탬프가 설정.
alter_table_query = "ALTER TABLE customer ADD COLUMN created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP"
cursor.execute(alter_table_query)
connection.commit()

In [11]:
# NOT NULL 제약 조건 추가
alter_table_query = "ALTER TABLE customer MODIFY email VARCHAR(100)"
cursor.execute(alter_table_query)
connection.commit()

In [ ]:
# 테이블 삭제
drop_table_query = "DROP TABLE IF EXISTS customer"
cursor.execute(drop_table_query)
connection.commit()

In [ ]:
# 연결 종료
cursor.close()
connection.close()

In [13]:
# 데이터 입력
# %s는 mysql.connector에서 사용되는 플레이스홀더입니다. 이 플레이스홀더는 데이터를 입력할 때 사용됩니다.(sqlight3에서는 ?를 사용)
insert_query = "INSERT INTO customer (name, email, age) VALUES (%s, %s, %s)"
data = ("john_doe", "john@example.com", 30)
cursor.execute(insert_query, data)
connection.commit()

In [19]:
# 데이터 조회
select_query = "SELECT * FROM customer"
cursor.execute(select_query)
results = cursor.fetchall()
for row in results:
    print(row)

In [17]:
# 데이터 수정
update_query = "UPDATE customer SET age = %s WHERE name = %s"
cursor.execute(update_query, (31, "john_doe"))
connection.commit()

In [18]:
# 데이터 삭제
delete_query = "DELETE FROM customer WHERE name = %s"
cursor.execute(delete_query, ("john_doe",))
connection.commit()

In [21]:
# 데이터 반복 삽입
customers = [
    ("alice", "alice@example.com", 25),
    ("bob", "bob@example.com", 28),
    ("charlie", "charlie@example.com", 22),
]
cursor.executemany(insert_query, customers)
connection.commit()

In [22]:
# 데이터 조회
select_query = "SELECT * FROM customer"
cursor.execute(select_query)
results = cursor.fetchall()
for row in results:
    print(row)

(2, 'alice', 'alice@example.com', 25, datetime.datetime(2024, 7, 15, 12, 18, 51))
(3, 'bob', 'bob@example.com', 28, datetime.datetime(2024, 7, 15, 12, 18, 51))
(4, 'charlie', 'charlie@example.com', 22, datetime.datetime(2024, 7, 15, 12, 18, 51))

In [23]:
# 데이터 조회 결과를 DataFrame으로 변환
import pandas as pd

# 컬럼 이름 가져오기
column_names = [desc[0] for desc in cursor.description]

# DataFrame으로 변환
df = pd.DataFrame(results, columns=column_names)

# DataFrame 출력
print(df)

   id     name                email  age          created_at
0   2    alice    alice@example.com   25 2024-07-15 12:18:51
1   3      bob      bob@example.com   28 2024-07-15 12:18:51
2   4  charlie  charlie@example.com   22 2024-07-15 12:18:51

In [24]:
# DataFrame을 CSV 파일로 저장
df.to_csv("customers.csv", index=False)

In [26]:
# buyer 테이블 생성
create_table_query = """
CREATE TABLE IF NOT EXISTS buyer(
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(50) NOT NULL,
    email VARCHAR(100) NOT NULL,
    age INT,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
)
"""
cursor.execute(create_table_query)
connection.commit()

In [27]:
# csv파일 읽어서 데이터베이스에 삽입
import csv

# csv 파일 읽기
file_path = "customers.csv"
df = pd.read_csv(file_path)

# 필요한 컬럼만 선택
data_to_insert = df[["name", "email", "age"]].values.tolist()

# SQL 쿼리 정의
insert_query = "INSERT INTO buyer (name, email, age) VALUES (%s, %s, %s)"

# 데이터베이스에 삽입
cursor.executemany(insert_query, data_to_insert)
connection.commit()

In [28]:
# 데이터 조회 및 DataFrame 변환
select_query = "SELECT * FROM buyer"
cursor.execute(select_query)
results = cursor.fetchall()

# 컬럼 이름 가져오기
column_names = [desc[0] for desc in cursor.description]

# DataFrame으로 변환
df_results = pd.DataFrame(results, columns=column_names)

# DataFrame 출력
print(df_results)

# 연결 종료
cursor.close()
connection.close()

   id     name                email  age          created_at
0   1    alice    alice@example.com   25 2024-07-15 12:34:37
1   2      bob      bob@example.com   28 2024-07-15 12:34:37
2   3  charlie  charlie@example.com   22 2024-07-15 12:34:37